@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background:url("../Assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar{
    cursor: pointer;
    width: 8px;
}

::-webkit-scrollbar-track{
    cursor: pointer;
    background: #e17204;
}

::-webkit-scrollbar-thumb {
    background: #faaa48;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}